@use "mixins";
@use "variables";

.excel__toolbar {

  position: sticky;
  top: 0;

  height: variables.$toolbar-height;

  border-top: 1px solid variables.$border-color;
  border-bottom: 1px solid variables.$border-color;
  padding: 7px 10px;

  .button {
    @include mixins.buttons()
  }
}